<div class="sec-title p-b-10">
  <h3 class="m-text5 t-center">
    <%= t(:catalog) %>
  </h3>
</div>
<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
  <% end %>
</div>
<div class="sec-title p-b-10">
  <h3 class="m-text5 t-center">
    <%= t(:featured) %>
  </h3>
</div>

<section class="newproduct bgwhite p-b-10">
  <div class="container">
    <% cache(cache_key_for_products) do %>
      <%= render :partial => 'spree/shared/featured', :locals => { :featured => @featured } %>
    <% end %>
  </div>
</section>